{% layout "../layout" %}
{% block content %}
  <h1>{{ 'auth.login_title' | t }}</h1>
  {% if error %}
    <div style="color: red; margin-bottom: 10px;">{{ error }}</div>
  {% endif %}
  <form method="POST" action="/users/api/login">
    <div>
      <label for="username">{{ 'common.username' | t }}:</label>
      <input id="username" type="text" name="username" required>
    </div>
    <div>
      <label for="password">{{ 'common.password' | t }}:</label>
      <input id="password" type="password" name="password" required>
    </div>
    <div>
      <button type="submit">{{ 'common.login' | t }}</button>
    </div>
  </form>
{% endblock %}